body {
	margin: 4rem auto;
	max-width: 750px;
	padding: 0 1rem;
	font-size: 1.5rem;
	font-family: "Liberation Sans", Arial, sans-serif;
	color: beige;
	background-color: #111;
	line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: FreeSans, Arial, sans-serif;
}

article h1 {
	font-size: 2.0em;
}

pre {
	font-family: "Liberation Sans", Arial, sans-serif;
}

code, kbd {
	font-size: 85%;
	background-color: lightgray;
	color: black;
	padding-left: 1px;
	padding-right: 1px;
}

summary {
	cursor: pointer;
}

abbr {
	cursor: help;
}

a:link {
	color: lightgreen;
}

a:visited {
	color: #c7f6c7;
}

a:hover {
	background-color: beige;
	color: #111;
	text-decoration: none;
}

a:active {
	background-color: gray;
	color: #111;
	text-decoration: none;
}

::selection {
	background-color: green;
	color: white;
}
